.awa{
    align-items: center;
    text-align: center;
    background-color:#c7f0ff;
}
body{
    background-color:#c7f0ff;
}
.deaa{
    background-color:darkblue;
    color:white;
    text-align:center;
    font-size:30px;
    margin-left:40px;
}